.block_0{
    background-color: #f7f5f5;
}
.block_1{
    background-color: #eee;
    float: left;
    width: 15em;
}
.block_2_3{
    background-color: #c9c7c7;
    margin-bottom: .2em;
    margin-left: 15em;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}
.block_4{
    background-color: #e8e3e3;
    clear: both;
}
.img{
    clear: both;
}