.block_01{
    width: 7.85%;
    float: left;
}
.block_02{
    width: 7.85%;
    float: left;
}
.block_03{
    width: 7.85%;
    float: left;
}
.block_04{
    width: 7.85%;
    float: left;
}
.block_05{
    width: 7.85%;
    float: left;
}
